<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">8.Türkiye İnovasyon Haftası</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    T.C. Ticaret Bakanlığı katkıları, Meclisimiz ev sahipliğinde, 2012 yılından bu yana Cumhurbaşkanımız Sayın Recep Tayyip ERDOĞAN’ın himayeleri ve aralıksız teşrifleriyle artan ilgi ve katılımla gerçekleştirdiğimiz Türkiye İnovasyon Haftası etkinliği, bu yıl sanal ortamda düzenlenmektedir.

Türkiye İnovasyon Haftası; global şirketlerin üst düzey yöneticilerinden, inovasyonun fikir liderlerine, akademisyenlerden öğrencilere, Türkiye’nin önde gelen şirketlerinin yöneticilerinden kamunun en üst düzey temsilcilerine kadar inovasyona dokunan tüm paydaşları bir araya getiriyor.
                
                
                </p>

            </div>
        </div>
    </div>
</section>
